PY_TC_SETUP 		= @with_named_setup(setup_func, teardown_func)
PY_TC_ATTR_PRIORITY = @attr(priority='%s')
PY_TC_ATTR_DESC 	= @attr(description='%s')
PY_TC_ATTR_STEP 	= @attr(test_steps='')
PY_TC_ATTR_RESULT 	= @attr(expect_result='%s')
PY_TC_ATTR_TAGS 	= @attr(tags=['%s'])
PY_TC_NAME 			= def %s():
PY_TC_HEADER_FILE	= Template.py